:root {
    font-family: 'IBM Plex Mono', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'IBM Plex Mono', sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: rgba(9,7,4,1);
    background-color: #FDFCFA;
}

input {
    font-size: 14px;
    font-family: 'IBM Plex Mono', sans-serif;
}

input[type="file"] {
    display: none;
}

button {
    font-size: 14px;
    font-family: 'IBM Plex Mono', sans-serif;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 600;
    margin-bottom: 1.75rem;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 4rem 2rem;
}

.controls-section {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.preview-section {
    display: flex;
    flex-direction: column;
}

.button {
    padding: 0.75rem 1.25rem;
    border-radius: 4px;
    border: none;
}

/* Кнопка загрузки PDF */
.file-input-label {
    display: inline-block;
    background-color: rgba(23,18,9,0.6);
    color: white;
    cursor: pointer;
    transition: background-color 0.15s;
    width: fit-content;
}

.file-input-label:hover {
    background-color: rgba(23,18,9,0.4);
}

.before-table {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}

.table-container {
    margin: 20px 0;
    overflow-x: auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 16px 16px rgba(9,7,4,0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'IBM Plex Mono', monospace;
}

th, td {
    padding: 0.75rem 1.25rem;
    text-align: left;
    vertical-align: top;
    border-bottom: 1px solid rgba(9,7,4,0.1);
    min-width: 7.75rem;
}

th {
    background-color: #f2ebde;
    font-weight: 600;
}

tr:hover {
    background-color: #f7f4ec;
    transition: background-color 0.05s;
}

.download-button {
    font-family: 'IBM Plex Mono', sans-serif;
    background-color: rgba(23,18,9,1);
    color: white;
    cursor: pointer;
    transition: background-color 0.15s;
}

.download-button:hover {
    background-color: rgba(23,18,9,0.8);
}

.hidden {
    display: none;
}

input[type="date" i] {
    font-family: 'IBM Plex Mono', monospace;
    cursor: pointer;
}

.date-inputs {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 1rem;
}

.date-input-group {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.date-input-group input[type="date"] {
    border: 1px solid rgba(9,7,4,0.1);
    padding: 8.5px 1rem;
}